//Variables
$primary-color: #ffb0b0;
$secondary-color: #fc6736;
$parahraph-color: #ccc;
$rating-color: #efecec;

* {
  box-sizing: border-box;
  font-family: "Valkyrie C4";
}
html {
  background-color: #0c2d57;
}
body {
  max-width: 800px;
  margin: 0 auto;
}
main {
  :is(h1, h2) {
    color: $primary-color;
    letter-spacing: 2px;
  }
  header {
    font-size: 2.5rem;
    color: #080;
    margin: 2rem 0;
  }
  h1 {
    font-size: 2.2rem;
    margin-top: 0;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 3px;
  }
  h3 {
    letter-spacing: 3px;
    margin-top: 0;
  }
  p {
    font-size: 1.5rem;
    color: $parahraph-color;
  }
  a {
    color: #080;
  }
  .forms {
    display: flex;
    justify-content: space-between;
  }
  .addBook {
    span {
      color: #fc6736;
    }
    label {
      color: #fc6736;
    }
    input {
      margin-bottom: 1rem;
    }
    input[type="number"] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;
    }
    textarea {
      margin-bottom: 1rem;
    }
  }
}

.book {
  border-top: 2px solid #ccc;
  padding-top: 2rem;
  padding-bottom: 4rem;

  img {
    width: 150px;
    height: 250px;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: #ccc;
  }

  h3 {
    font-size: 2rem;
    color: $secondary-color;
  }
  small {
    color: $rating-color;
    font-size: 1rem;
  }
  .review {
    margin: 1rem 0;
  }

  .notes {
    font-size: 2rem;
  }
}

#notes {
  text-transform: uppercase;
  img {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: block;
  }
  h3 {
    font-size: 2.5rem;
    color: $primary-color;
  }
  p {
    clear: both;
  }
  small {
    color: $rating-color;
    font-size: 1rem;
    line-height: 30px;
  }
  strong {
    color: $rating-color;

    a {
      color: adjust-color($color: $secondary-color, $alpha: 1);
    }
  }
  .delete-form {
    display: flex;
    flex-direction: column;
    .delete {
      align-self: flex-end;
      clear: both;
      background-color: #fc6736;
      color: #efecec;
      font-family: sans-serif;
      border-radius: 5px;
      border: none;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        background-color: lighten($color: #fc6736, $amount: 10%);
        color: #fff;
      }
    }
  }
}

.edit-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 1rem;

  label {
    color: $rating-color;
  }
  button {
    align-self: center;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
