<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://db.onlinewebfonts.com/c/5ef1d874f7e6c2b682f531ccf6479eeb?family=Valkyrie+C4" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css" />
    <title>Books Notes | AMR</title>
  </head>
  <body>
    <main>
      <header>Welcome to my Books Notes!</header>