<%- include('partials/header') %>
<h1>Welcome to my Books Notes!</h1>
<h2>Books I've READ</h2>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, voluptates velit! Iusto minima
  nesciunt sequi sunt voluptatum, quo voluptate, optio maxime et suscipit fugiat blanditiis saepe,
  sit quisquam illo. Debitis.
</p>
<br>
<section class="book">
  <img src="./images/book-cover.webp" alt="Book cover" />
  <h3><a href="">Book title</a></h3>
  <small>Date read: 2023-08-02. How strongly I recommend it: <strong>10</strong>/10 </small>
  <p>
    Everything is negotiable. Challenge authority. You have the power in any situation. This is how
    to realize it and use it. A must-read classic from 1980 from a master negotiator. My notes here
    aren’t enough because the little book is filled with so many memorable stories — examples of
    great day-to-day moments of negotiation that will stick in your head for when you need them. (I
    especially loved the one about the power of the prisoner in solitary confinement.) So go buy and
    read the book. I’m giving it a 10/10 rating even though the second half of the book loses steam,
    because the first half is so crucial.
  </p>
  <a class="notes" href="">Read my Notes</a>
</section>
<%- include('partials/footer') %>
