<%- include('partials/header') %>
<section id="notes">
  <img src="./images/book-cover.webp" alt="Book cover" />
  <h1>E-Myth Revisited - by Michael Gerber</h1>
  <small>ISBN:0887307280</small><br />
  <small>Date read: 2004-02-26</small><br />
  <small>How strongly I recommend it: 10/10</small><br /><br />
  <strong>(See <a href="/">my list of 360+ books</a>, for more.)</strong>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque veniam at a, ipsa asperiores
    ducimus eaque quidem harum sunt adipisci, qui dolorum odit nemo? Illo quia totam sint repellat
    hic!
  </p>
  <h2>My Notes</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat error voluptates minus
    nesciunt accusantium, quaerat enim sint sit sed. At quibusdam neque quam nostrum. Optio quidem
    quae rerum non distinctio.
  </p>
</section>
<%- include('partials/footer') %>
